#navbar {
  height: 50px;
  background-color: rgb(218, 199, 199);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

#dropdown {

}

#titleLogo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

#titleLogo img {
  height: 40px;
  margin-right: 15px;
}

#search {
  /* flex-grow: 1; */
}

@media only screen and (max-width: 580px) {
  #titleLogo {
    justify-content: center;
  }
  #titleLogo h1 {
    display: none;
  }
  #titleLogo img {
    margin: 0;
  }
}
