#navbar {
    height: 45px;
    background-color: rgb(218, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

#titleLogo {
    display: inline-flex;
    align-items: center;
}

#titleLogo img {
    height: 40px;
    margin-right: 15px;
}