.post {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    width: 60%;
    border-radius: 20px;
    background-color: antiquewhite;
    margin: 25px auto;
}

.title {
    grid-column: 2 / span 1;
    grid-row: 1 / 2;
    background-color: red;
}

.author {
    grid-column: 1;
    grid-row: 3;
}